ul, ol, li {
  margin: 0;
  padding: 0;
  list-style: none; }

.breadcrumb ul li {
  display: inline-block; }

.container-menu ul li {
  display: inline-block; }

/*# sourceMappingURL=style.css.map */
